In [2]:
import pandas as pd

In [3]:
dataset=pd.read_csv("AMAZON_SALES.csv")
print(dataset)

     order_id  order_date   ship_date delivery_date order_status customer_id  \
0      A10000  2026-01-31  2026-01-31    2026-01-08    Delivered       C5691
1      A10001  2026-01-20  2026-02-03    2026-02-03    Delivered       C9811
2      A10002  2026-01-15  2026-02-07    2026-01-03    Delivered       C7341
3      A10003  2026-01-18  2026-01-15    2026-01-20    Delivered       C4012
4      A10004  2026-01-27  2026-01-04    2026-01-23    Delivered       C1328
...       ...         ...         ...           ...          ...         ...
9995   A19995  2026-02-08  2026-01-07    2026-01-10    Delivered       C3522
9996   A19996  2026-01-17  2026-01-23    2026-02-03    Delivered       C9510
9997   A19997  2026-01-17  2026-01-11    2026-01-15    Delivered       C3630
9998   A19998  2026-01-08  2026-01-18    2026-02-07    Delivered       C8299
9999   A19999  2026-01-31  2026-01-30    2026-02-08    Delivered       C7848

           customer_name country           state                 city  ...  \
0           Ricky Potter   India  South Carolina              New Joe  ...
1        Chris Davenport   India       Tennessee         Madisonmouth  ...
2      Timothy Gallagher   India            Iowa       East Larryberg  ...
3         Angela Collins   India        Kentucky  South Margaretshire  ...
4     David Davidson DDS   India    North Dakota        Velasquezview  ...
...                  ...     ...             ...                  ...  ...
9995        Kelly Bryant   India         Alabama    West Kimberlyview  ...
9996     Kristina Barnes   India        Colorado         Jamesborough  ...
9997     Samuel Anderson   India         Montana         Lake Richard  ...
9998          April King   India         Georgia           Millerview  ...
9999     Jennifer Rogers   India         Alabama           Taylorstad  ...

     product_name     category sub_category                         brand  \
0         without         Home    Furniture                  Doyle-Jordan
1          school         Home    Furniture                     Davis LLC
2               I  Electronics       Laptop               Watson and Sons
3            step  Electronics       Laptop   Sandoval, Buckley and Solis
4             bit         Home      Kitchen       Key, Bautista and Bowen
...           ...          ...          ...                           ...
9995     question  Electronics       Laptop                     Leach Inc
9996         item      Fashion     Footwear                  Wells-Taylor
9997        leave      Fashion     Footwear  Stuart, Johnson and Peterson
9998          too      Fashion     Clothing       Perry, Vargas and Mason
9999        total         Home      Kitchen  Sawyer, Copeland and Allison

     quantity  unit_price  discount  shipping_cost  total_sales  \
0           3    42467.79      0.26          60.85   94339.3438
1           2    36138.76      0.24         112.96   55043.8752
2           4    47148.93      0.14          64.11  162256.4292
3           1    18487.99      0.06         114.15   17492.8606
4           1     1742.25      0.10          40.47    1608.4950
...       ...         ...       ...            ...          ...
9995        3    20844.54      0.01         101.13   62009.4138
9996        4    25467.29      0.15          93.64   86682.4260
9997        3    27680.47      0.29          39.30   58998.7011
9998        2    13572.25      0.13          62.82   23678.5350
9999        2     9009.02      0.23          94.25   13968.1408

      payment_method
0               Card
1                COD
2                UPI
3               Card
4                UPI
...              ...
9995             UPI
9996             COD
9997             COD
9998             COD
9999             UPI

[10000 rows x 21 columns]

In [4]:
dataset.head(10)

,order_id,order_date,ship_date,delivery_date,order_status,customer_id,customer_name,country,state,city,...,product_name,category,sub_category,brand,quantity,unit_price,discount,shipping_cost,total_sales,payment_method
0,A10000,2026-01-31,2026-01-31,2026-01-08,Delivered,C5691,Ricky Potter,India,South Carolina,New Joe,...,without,Home,Furniture,Doyle-Jordan,3,42467.79,0.26,60.85,94339.3438,Card
1,A10001,2026-01-20,2026-02-03,2026-02-03,Delivered,C9811,Chris Davenport,India,Tennessee,Madisonmouth,...,school,Home,Furniture,Davis LLC,2,36138.76,0.24,112.96,55043.8752,COD
2,A10002,2026-01-15,2026-02-07,2026-01-03,Delivered,C7341,Timothy Gallagher,India,Iowa,East Larryberg,...,I,Electronics,Laptop,Watson and Sons,4,47148.93,0.14,64.11,162256.4292,UPI
3,A10003,2026-01-18,2026-01-15,2026-01-20,Delivered,C4012,Angela Collins,India,Kentucky,South Margaretshire,...,step,Electronics,Laptop,"Sandoval, Buckley and Solis",1,18487.99,0.06,114.15,17492.8606,Card
4,A10004,2026-01-27,2026-01-04,2026-01-23,Delivered,C1328,David Davidson DDS,India,North Dakota,Velasquezview,...,bit,Home,Kitchen,"Key, Bautista and Bowen",1,1742.25,0.10,40.47,1608.4950,UPI
5,A10005,2026-01-05,2026-01-12,2026-01-11,Delivered,C9019,Lauren Russell,India,South Carolina,Ryanburgh,...,through,Home,Furniture,Lee Inc,3,12618.95,0.22,105.47,29633.8130,Card
6,A10006,2026-01-04,2026-01-10,2026-01-21,Delivered,C9866,Heather Campos,India,Colorado,Turnerville,...,page,Electronics,Mobile,Wade-Jackson,4,41577.60,0.06,29.90,156361.6760,COD
7,A10007,2026-02-07,2026-02-01,2026-01-10,Delivered,C2638,Elizabeth Thornton,India,Georgia,Ricemouth,...,choice,Home,Furniture,Johns-Kelly,4,21118.07,0.19,61.18,68483.7268,COD
8,A10008,2026-02-09,2026-02-03,2026-01-01,Delivered,C4823,Theresa Collins,India,Maryland,Coreystad,...,like,Electronics,Mobile,"Silva, White and Bates",5,12891.02,0.03,99.08,62620.5270,COD
9,A10009,2026-01-24,2026-01-26,2026-02-10,Delivered,C9948,Chelsea Brown,India,South Carolina,Kendraton,...,example,Fashion,Clothing,"Carroll, Barnes and Harris",2,42438.49,0.12,144.57,74836.3124,UPI

In [5]:
dataset.tail()

,order_id,order_date,ship_date,delivery_date,order_status,customer_id,customer_name,country,state,city,...,product_name,category,sub_category,brand,quantity,unit_price,discount,shipping_cost,total_sales,payment_method
9995,A19995,2026-02-08,2026-01-07,2026-01-10,Delivered,C3522,Kelly Bryant,India,Alabama,West Kimberlyview,...,question,Electronics,Laptop,Leach Inc,3,20844.54,0.01,101.13,62009.4138,UPI
9996,A19996,2026-01-17,2026-01-23,2026-02-03,Delivered,C9510,Kristina Barnes,India,Colorado,Jamesborough,...,item,Fashion,Footwear,Wells-Taylor,4,25467.29,0.15,93.64,86682.4260,COD
9997,A19997,2026-01-17,2026-01-11,2026-01-15,Delivered,C3630,Samuel Anderson,India,Montana,Lake Richard,...,leave,Fashion,Footwear,"Stuart, Johnson and Peterson",3,27680.47,0.29,39.30,58998.7011,COD
9998,A19998,2026-01-08,2026-01-18,2026-02-07,Delivered,C8299,April King,India,Georgia,Millerview,...,too,Fashion,Clothing,"Perry, Vargas and Mason",2,13572.25,0.13,62.82,23678.5350,COD
9999,A19999,2026-01-31,2026-01-30,2026-02-08,Delivered,C7848,Jennifer Rogers,India,Alabama,Taylorstad,...,total,Home,Kitchen,"Sawyer, Copeland and Allison",2,9009.02,0.23,94.25,13968.1408,UPI

In [6]:
dataset.loc[0,"order_date"]

'2026-01-31'

In [7]:
dataset.iloc[:,[0,2]]

     order_id   ship_date
0      A10000  2026-01-31
1      A10001  2026-02-03
2      A10002  2026-02-07
3      A10003  2026-01-15
4      A10004  2026-01-04
...       ...         ...
9995   A19995  2026-01-07
9996   A19996  2026-01-23
9997   A19997  2026-01-11
9998   A19998  2026-01-18
9999   A19999  2026-01-30

[10000 rows x 2 columns]

In [8]:
dataset.isna()

,order_id,order_date,ship_date,delivery_date,order_status,customer_id,customer_name,country,state,city,...,product_name,category,sub_category,brand,quantity,unit_price,discount,shipping_cost,total_sales,payment_method
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [9]:
dataset.isna().sum()

order_id          0
order_date        0
ship_date         0
delivery_date     0
order_status      0
customer_id       0
customer_name     0
country           0
state             0
city              0
product_id        0
product_name      0
category          0
sub_category      0
brand             0
quantity          0
unit_price        0
discount          0
shipping_cost     0
total_sales       0
payment_method    0
dtype: int64

In [10]:
dataset.dropna()

,order_id,order_date,ship_date,delivery_date,order_status,customer_id,customer_name,country,state,city,...,product_name,category,sub_category,brand,quantity,unit_price,discount,shipping_cost,total_sales,payment_method
0,A10000,2026-01-31,2026-01-31,2026-01-08,Delivered,C5691,Ricky Potter,India,South Carolina,New Joe,...,without,Home,Furniture,Doyle-Jordan,3,42467.79,0.26,60.85,94339.3438,Card
1,A10001,2026-01-20,2026-02-03,2026-02-03,Delivered,C9811,Chris Davenport,India,Tennessee,Madisonmouth,...,school,Home,Furniture,Davis LLC,2,36138.76,0.24,112.96,55043.8752,COD
2,A10002,2026-01-15,2026-02-07,2026-01-03,Delivered,C7341,Timothy Gallagher,India,Iowa,East Larryberg,...,I,Electronics,Laptop,Watson and Sons,4,47148.93,0.14,64.11,162256.4292,UPI
3,A10003,2026-01-18,2026-01-15,2026-01-20,Delivered,C4012,Angela Collins,India,Kentucky,South Margaretshire,...,step,Electronics,Laptop,"Sandoval, Buckley and Solis",1,18487.99,0.06,114.15,17492.8606,Card
4,A10004,2026-01-27,2026-01-04,2026-01-23,Delivered,C1328,David Davidson DDS,India,North Dakota,Velasquezview,...,bit,Home,Kitchen,"Key, Bautista and Bowen",1,1742.25,0.10,40.47,1608.4950,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,A19995,2026-02-08,2026-01-07,2026-01-10,Delivered,C3522,Kelly Bryant,India,Alabama,West Kimberlyview,...,question,Electronics,Laptop,Leach Inc,3,20844.54,0.01,101.13,62009.4138,UPI
9996,A19996,2026-01-17,2026-01-23,2026-02-03,Delivered,C9510,Kristina Barnes,India,Colorado,Jamesborough,...,item,Fashion,Footwear,Wells-Taylor,4,25467.29,0.15,93.64,86682.4260,COD
9997,A19997,2026-01-17,2026-01-11,2026-01-15,Delivered,C3630,Samuel Anderson,India,Montana,Lake Richard,...,leave,Fashion,Footwear,"Stuart, Johnson and Peterson",3,27680.47,0.29,39.30,58998.7011,COD
9998,A19998,2026-01-08,2026-01-18,2026-02-07,Delivered,C8299,April King,India,Georgia,Millerview,...,too,Fashion,Clothing,"Perry, Vargas and Mason",2,13572.25,0.13,62.82,23678.5350,COD
9999,A19999,2026-01-31,2026-01-30,2026-02-08,Delivered,C7848,Jennifer Rogers,India,Alabama,Taylorstad,...,total,Home,Kitchen,"Sawyer, Copeland and Allison",2,9009.02,0.23,94.25,13968.1408,UPI

In [11]:
dataset.dropna(inplace=True)
dataset.fillna(200)

,order_id,order_date,ship_date,delivery_date,order_status,customer_id,customer_name,country,state,city,...,product_name,category,sub_category,brand,quantity,unit_price,discount,shipping_cost,total_sales,payment_method
0,A10000,2026-01-31,2026-01-31,2026-01-08,Delivered,C5691,Ricky Potter,India,South Carolina,New Joe,...,without,Home,Furniture,Doyle-Jordan,3,42467.79,0.26,60.85,94339.3438,Card
1,A10001,2026-01-20,2026-02-03,2026-02-03,Delivered,C9811,Chris Davenport,India,Tennessee,Madisonmouth,...,school,Home,Furniture,Davis LLC,2,36138.76,0.24,112.96,55043.8752,COD
2,A10002,2026-01-15,2026-02-07,2026-01-03,Delivered,C7341,Timothy Gallagher,India,Iowa,East Larryberg,...,I,Electronics,Laptop,Watson and Sons,4,47148.93,0.14,64.11,162256.4292,UPI
3,A10003,2026-01-18,2026-01-15,2026-01-20,Delivered,C4012,Angela Collins,India,Kentucky,South Margaretshire,...,step,Electronics,Laptop,"Sandoval, Buckley and Solis",1,18487.99,0.06,114.15,17492.8606,Card
4,A10004,2026-01-27,2026-01-04,2026-01-23,Delivered,C1328,David Davidson DDS,India,North Dakota,Velasquezview,...,bit,Home,Kitchen,"Key, Bautista and Bowen",1,1742.25,0.10,40.47,1608.4950,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,A19995,2026-02-08,2026-01-07,2026-01-10,Delivered,C3522,Kelly Bryant,India,Alabama,West Kimberlyview,...,question,Electronics,Laptop,Leach Inc,3,20844.54,0.01,101.13,62009.4138,UPI
9996,A19996,2026-01-17,2026-01-23,2026-02-03,Delivered,C9510,Kristina Barnes,India,Colorado,Jamesborough,...,item,Fashion,Footwear,Wells-Taylor,4,25467.29,0.15,93.64,86682.4260,COD
9997,A19997,2026-01-17,2026-01-11,2026-01-15,Delivered,C3630,Samuel Anderson,India,Montana,Lake Richard,...,leave,Fashion,Footwear,"Stuart, Johnson and Peterson",3,27680.47,0.29,39.30,58998.7011,COD
9998,A19998,2026-01-08,2026-01-18,2026-02-07,Delivered,C8299,April King,India,Georgia,Millerview,...,too,Fashion,Clothing,"Perry, Vargas and Mason",2,13572.25,0.13,62.82,23678.5350,COD
9999,A19999,2026-01-31,2026-01-30,2026-02-08,Delivered,C7848,Jennifer Rogers,India,Alabama,Taylorstad,...,total,Home,Kitchen,"Sawyer, Copeland and Allison",2,9009.02,0.23,94.25,13968.1408,UPI

In [12]:
dataset['order_date']=pd.to_datetime(dataset['order_date'],errors='coerce')
dataset['order_date']=dataset['order_date'].dt.strftime('%d/%m/%y')
print(dataset)

     order_id order_date   ship_date delivery_date order_status customer_id  \
0      A10000   31/01/26  2026-01-31    2026-01-08    Delivered       C5691
1      A10001   20/01/26  2026-02-03    2026-02-03    Delivered       C9811
2      A10002   15/01/26  2026-02-07    2026-01-03    Delivered       C7341
3      A10003   18/01/26  2026-01-15    2026-01-20    Delivered       C4012
4      A10004   27/01/26  2026-01-04    2026-01-23    Delivered       C1328
...       ...        ...         ...           ...          ...         ...
9995   A19995   08/02/26  2026-01-07    2026-01-10    Delivered       C3522
9996   A19996   17/01/26  2026-01-23    2026-02-03    Delivered       C9510
9997   A19997   17/01/26  2026-01-11    2026-01-15    Delivered       C3630
9998   A19998   08/01/26  2026-01-18    2026-02-07    Delivered       C8299
9999   A19999   31/01/26  2026-01-30    2026-02-08    Delivered       C7848

           customer_name country           state                 city  ...  \
0           Ricky Potter   India  South Carolina              New Joe  ...
1        Chris Davenport   India       Tennessee         Madisonmouth  ...
2      Timothy Gallagher   India            Iowa       East Larryberg  ...
3         Angela Collins   India        Kentucky  South Margaretshire  ...
4     David Davidson DDS   India    North Dakota        Velasquezview  ...
...                  ...     ...             ...                  ...  ...
9995        Kelly Bryant   India         Alabama    West Kimberlyview  ...
9996     Kristina Barnes   India        Colorado         Jamesborough  ...
9997     Samuel Anderson   India         Montana         Lake Richard  ...
9998          April King   India         Georgia           Millerview  ...
9999     Jennifer Rogers   India         Alabama           Taylorstad  ...

     product_name     category sub_category                         brand  \
0         without         Home    Furniture                  Doyle-Jordan
1          school         Home    Furniture                     Davis LLC
2               I  Electronics       Laptop               Watson and Sons
3            step  Electronics       Laptop   Sandoval, Buckley and Solis
4             bit         Home      Kitchen       Key, Bautista and Bowen
...           ...          ...          ...                           ...
9995     question  Electronics       Laptop                     Leach Inc
9996         item      Fashion     Footwear                  Wells-Taylor
9997        leave      Fashion     Footwear  Stuart, Johnson and Peterson
9998          too      Fashion     Clothing       Perry, Vargas and Mason
9999        total         Home      Kitchen  Sawyer, Copeland and Allison

     quantity  unit_price  discount  shipping_cost  total_sales  \
0           3    42467.79      0.26          60.85   94339.3438
1           2    36138.76      0.24         112.96   55043.8752
2           4    47148.93      0.14          64.11  162256.4292
3           1    18487.99      0.06         114.15   17492.8606
4           1     1742.25      0.10          40.47    1608.4950
...       ...         ...       ...            ...          ...
9995        3    20844.54      0.01         101.13   62009.4138
9996        4    25467.29      0.15          93.64   86682.4260
9997        3    27680.47      0.29          39.30   58998.7011
9998        2    13572.25      0.13          62.82   23678.5350
9999        2     9009.02      0.23          94.25   13968.1408

      payment_method
0               Card
1                COD
2                UPI
3               Card
4                UPI
...              ...
9995             UPI
9996             COD
9997             COD
9998             COD
9999             UPI

[10000 rows x 21 columns]

In [13]:
# for duplicates

print(dataset.duplicated())

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Length: 10000, dtype: bool

In [14]:
dataset.drop_duplicates(inplace=True)
print(dataset.drop_duplicates())

     order_id order_date   ship_date delivery_date order_status customer_id  \
0      A10000   31/01/26  2026-01-31    2026-01-08    Delivered       C5691
1      A10001   20/01/26  2026-02-03    2026-02-03    Delivered       C9811
2      A10002   15/01/26  2026-02-07    2026-01-03    Delivered       C7341
3      A10003   18/01/26  2026-01-15    2026-01-20    Delivered       C4012
4      A10004   27/01/26  2026-01-04    2026-01-23    Delivered       C1328
...       ...        ...         ...           ...          ...         ...
9995   A19995   08/02/26  2026-01-07    2026-01-10    Delivered       C3522
9996   A19996   17/01/26  2026-01-23    2026-02-03    Delivered       C9510
9997   A19997   17/01/26  2026-01-11    2026-01-15    Delivered       C3630
9998   A19998   08/01/26  2026-01-18    2026-02-07    Delivered       C8299
9999   A19999   31/01/26  2026-01-30    2026-02-08    Delivered       C7848

           customer_name country           state                 city  ...  \
0           Ricky Potter   India  South Carolina              New Joe  ...
1        Chris Davenport   India       Tennessee         Madisonmouth  ...
2      Timothy Gallagher   India            Iowa       East Larryberg  ...
3         Angela Collins   India        Kentucky  South Margaretshire  ...
4     David Davidson DDS   India    North Dakota        Velasquezview  ...
...                  ...     ...             ...                  ...  ...
9995        Kelly Bryant   India         Alabama    West Kimberlyview  ...
9996     Kristina Barnes   India        Colorado         Jamesborough  ...
9997     Samuel Anderson   India         Montana         Lake Richard  ...
9998          April King   India         Georgia           Millerview  ...
9999     Jennifer Rogers   India         Alabama           Taylorstad  ...

     product_name     category sub_category                         brand  \
0         without         Home    Furniture                  Doyle-Jordan
1          school         Home    Furniture                     Davis LLC
2               I  Electronics       Laptop               Watson and Sons
3            step  Electronics       Laptop   Sandoval, Buckley and Solis
4             bit         Home      Kitchen       Key, Bautista and Bowen
...           ...          ...          ...                           ...
9995     question  Electronics       Laptop                     Leach Inc
9996         item      Fashion     Footwear                  Wells-Taylor
9997        leave      Fashion     Footwear  Stuart, Johnson and Peterson
9998          too      Fashion     Clothing       Perry, Vargas and Mason
9999        total         Home      Kitchen  Sawyer, Copeland and Allison

     quantity  unit_price  discount  shipping_cost  total_sales  \
0           3    42467.79      0.26          60.85   94339.3438
1           2    36138.76      0.24         112.96   55043.8752
2           4    47148.93      0.14          64.11  162256.4292
3           1    18487.99      0.06         114.15   17492.8606
4           1     1742.25      0.10          40.47    1608.4950
...       ...         ...       ...            ...          ...
9995        3    20844.54      0.01         101.13   62009.4138
9996        4    25467.29      0.15          93.64   86682.4260
9997        3    27680.47      0.29          39.30   58998.7011
9998        2    13572.25      0.13          62.82   23678.5350
9999        2     9009.02      0.23          94.25   13968.1408

      payment_method
0               Card
1                COD
2                UPI
3               Card
4                UPI
...              ...
9995             UPI
9996             COD
9997             COD
9998             COD
9999             UPI

[10000 rows x 21 columns]